body {
  margin: 0;
  font-family: monospace;
  background: #0f172a;
  color: white;
}

.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #020617;
  height: 100vh;
  padding: 10px;
}

.lesson-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.lesson-item.active {
  background: #38bdf8;
  color: black;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
}

.stats {
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
}

#text {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 1.6;
}

/* TEXT STATE */
.correct { color: #22c55e; }
.wrong { color: #ef4444; }

.current {
  border-bottom: 2px solid #38bdf8;
}

/* INPUT */
textarea {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  background: #020617;
  color: white;
  border: none;
}

/* KEYBOARD */
.keyboard {
  margin-top: 20px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.key {
  background: #334155;
  margin: 3px;
  padding: 12px;
  border-radius: 6px;
  min-width: 40px;
  text-align: center;
}

.wide {
  min-width: 80px;
}

.space {
  min-width: 300px;
}

.active {
  background: #38bdf8;
  color: black;
}

.next {
  background: yellow;
  color: black;
}